.glasscard{
    /* From https://css.glass */
background: rgba(255, 237, 237, 0.27);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
-webkit-backdrop-filter: blur(4.4px);
backdrop-filter: blur(4.4px);
border: 1px solid rgba(255, 237, 237, 0.2);
}